.banner {
    width: 100%;
    height: 58rem;
    background-image: url(./../png/capa.png);
    background-position: center;

    position: relative;
}
.banner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.8;
}


.banner .contenido_banner {
    width: 100%;
    height: 100%;
    position: absolute;
    padding: 2rem;
}

.contenido_banner span, h1, p {
    color: var(--color4);
    margin-top: 1.5rem;
}

.contenido_banner span{
    font-size: 2rem;
}

.contenido_banner h1 {
    font-size: 4.5rem;
    font-weight: 900;
}

.contenido_banner p {
    font-size: 1.7rem;
}

.boton {
    height: 5rem;
    margin-top: 8rem;
    width: 21rem;
    background-color: var(--color1);
    color:var(--color4);
    
    /*texto del botón*/
    font-size: 1.8rem;
    font-weight: 600;
    text-decoration: none;
    
    /*configuración extra*/
    display: flex;
    justify-content: center;
    align-items: center;

}