.Stay-connected-with-us {
    padding: 2rem;
}
/*caja 1*/
.item-1 {
    height: 45rem;
    margin-top: 5rem;
    background-color: var(--color1);
    padding: 1rem;
}

.item-1 img {
    width: 8rem;
    height: 20%;
    margin-top: 2rem;
    margin: 3rem;
}

.item-1 h3 {
    margin: 3rem;
    font-size: 2rem;
    margin-top: 1rem;
    color: #fff;
}

.item-1 p {
    font-size: 1.5rem;
    line-height: 3rem;
    margin: 3rem;
    color: var(--color5);
}

.item-1 a {
    height: 6rem;
    width: 15rem;
    margin: 3rem;
    padding: 1rem;
    display: block;
    border: 1px solid var(--color5);
    border-radius: 10rem;
    color: var(--color5);

    font-size: 1.8rem;
    text-decoration: none;

    display: flex;
    align-items: center;
    justify-content: center;
}
/*caja 2*/
.item-2 {
    height: 45rem;
    margin-top: 5rem;
    padding: 1rem;
    background-color: #5758d0;
}

.item-2 h3 {
    width: 100%;
    padding: 3rem;
    font-size: 2rem;

    color: var(--color4)
}

.item-2 h2 {
    margin: 3rem;
    font-size: 6rem;
    color: var(--color5);
}

.item-2 p {
    margin: 3rem;
    font-size: 1.3rem;
}

.item-2 h1 {
    margin: 3rem;
    margin-top: 15rem;
    font-size: 1.4rem;
}
/*caja 3*/
.item-3 {
    height: 45rem;
    margin-top: 5rem;
    background-color: #157EF8;
    padding: 2rem;
}

.item-3 h3 {
    padding: 1rem;
    font-size: 2.5rem;
    color: var(--color5);
}

.item-3 p {
    margin: 1rem;
    font-size: 1.5rem;
    line-height: 3rem;
    color: var(--color5);
}

.item-3 h2 {
    margin: 1rem;
    margin-top: 1rem;
    color: var(--color8);
    font-size: 1.5rem;
    font-weight: 100;
}

.item-3 h1 {
    margin: 1rem;
    margin-top: 7rem;
    color: var(--color5);
    font-size: 1.5rem;
}

/*Apartado de información*/

.Panel-información {
    margin-top: 25rem;
}
/*Información 1*/
.Info1 {
    width: fit-content;
    display: flex;
    flex-direction:column;

}

.Info1 h5 {
    font-size: 1.5rem;
    padding: 1rem;
    font-weight: 900;
}

.Info1 h3 {
    font-size: 1.3rem;
    padding: 1rem;
    font-weight: 400;
}

.Info1 h2 {
    font-size: 1.3rem;
    padding: 1rem;
    font-weight: 400;
}
/*Información 2*/
.Info2 {
    margin-top: 8rem;
    display: flex;
    flex-direction: column;
}

.Info2 h6 {
    font-size: 1.5rem;
    padding: 1rem;
    font-weight: 900;
}

.Info2 h5 {
    font-size: 1.3rem;
    padding: 1rem;
    font-weight: 400;
}

.Info2 h4 {
    height: 80%;
    padding: 4.9rem;
    position: absolute;
    left: 25%;
    font-size: 1.3rem;
    color: var(--color1);
}

.Info2 h3 {
    font-size: 1.3rem;
    padding: 1rem;
    font-weight: 400;
}

.Info2 h2 {
    font-size: 1.3rem;
    padding: 1rem;
    font-weight: 400;
}

.Info2 a {
    height: 5rem;
    width: 15rem;
    margin: 3rem;
    padding: 1rem;
    padding-right: 30%;
    display: block;
    border: 1px solid var(--color2);
    border-radius: 10rem;
    color: var(--color2);
    align-items: center;
    justify-content: center;

    font-size: 1.8rem;
    text-decoration: none;
}